*{
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}
body{
    background-color: rgba(213, 217, 228, 0.821);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    scroll-behavior: none;
    overflow-x: hidden;
}
.main{
    position:relative;
    top: 8vh;
    width: 100%;
    height: 15vh;
    display: flex;
    margin-bottom: 10vh;
    box-shadow: 3px 2px 8px rgb(0, 0, 0.6);
    background-color: rgba(247, 248, 248, 0.5);
}
.logo{
    position: relative;
    top: 2vh;
    margin-left: 7vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    position: relative;
    left: 3vw;
    top: 1vh;
    margin: 2vw ;
    color: rgb(28, 26, 26);
    margin-left: 10px;
    align-items: center;
    font-size: 2vw;
    
}
.navbar{
    display: flex;
}
ul{
    position: relative;
    list-style: none;
    left: 10vw;
    display: flex;
    padding: 20px;
}
nav ul li{
    position: relative;
    color:white;
    left: -80px;
    top: 3vh;
    margin: 17px;
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
    font: 0.9em italic bold;
    color: rgb(28, 26, 26);
    padding: 6px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
nav ul li a:hover{
    background-color: rgb(28, 26, 26);
    color: white;
}
.h1{
    position: relative;
    top: 10px;
    gap: 19px;
    left: 8vw;
    display: flex;
    align-items: center;
}  
.h1 h4{
    color: rgb(28, 26, 26);
    font-size: 2vw;
    font-weight: lighter;
    position: relative;
    left: -18vw;
} 
section.categ{
    margin-top: 15vh;
    margin-left: 7vw;
    display: flex;
    flex-wrap: wrap;
    gap:2vw ;

}
.categ .catlist img{
    border-radius: 3%;
    width: 19vw;
    height: 35vh;
}
.categ .catlist h1,p{
    margin-top: 1.3vh;
    font-weight: lighter;
    font-size: 1vw;
    width:19vw;
}
section.categ11{
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 7vw;
    display: flex;
    flex-wrap: wrap;
    gap:2vw ;

}
.categ11 .catlist img{
    border-radius: 3%;
    width: 19vw;
    height: 35vh;
}
.categ11 .catlist h1{
    margin-top: 1.3vh;
    font-weight: lighter;
    font-size: 1.2em;
}
footer{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(28, 26, 26);
    display: flex;
    justify-content: space-around;
    margin-top: 4vh;
    align-items: center;
    color: white;
}
footer p a{
    text-decoration: none;
    color: white;
}

/* responsive design */

@media screen and (max-width:470px ) {
    *{
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    overflow-x: hidden;
    }
    body{
        
        width: 100vw;
    }
    
    .main{
        height: 14vh;
    }
    nav{
        display: none;
    }
    .logo h2{
        font-size: 4vw;
        top: 3vh;
        left: 2vw;
    }
    .h1 h4{
        font-size: 3.5vw;
        left: -14vw;
        margin-bottom: 2vh;
    }
    section.categ{
    margin-top: 3vh;
    margin-left: 7vw;
    display: flex;
    flex-wrap: wrap;
    gap:2vw ;
    }
    .categ .catlist img{
        width: 27vw;
        height: 15vh;
    }
    .categ .catlist h1,p{
        font-size: 2.5vw;
        width:27vw;
    }
    .categ11 .catlist img{
    border-radius: 3%;
    width: 20vw;
    height: 19vh;
    }
    
}