*{
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    
}
body{
    background-position: center;
    height: 100%;
    background-size: cover;
    overflow-y: hidden;
    /* background-repeat: no-repeat; */
}
.main{
    position:relative;
    top: 0vh;
    width: 100%;
    height: 17vh;
    display: flex;
    margin-bottom: 10vh;
    box-shadow: 3px 2px 8px rgb(0, 0, 0.6);
    background-color: rgba(164, 177, 177, 0.5);
}
.logo{
    position: relative;
    top: 1vh;
    margin-left: 1vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.logo h2{
    position: relative;
    top:4vh;
    left: 30px;
    font-size: 2vw;
    font-style: italic;
    width: 25vw;
    margin: 23px ;
    color: rgb(28, 26, 26);
    margin-left: 10px;
    line-height: .9em;
    color: rgb(17, 17, 104);
}
.logo img{
    width: 13vw;
    height: 15vh;
}
.logo h2 span{
    font-size: .6em;
    display: block;
    font-weight: lighter;
    text-align: center;
}
.navbar{
    display: flex;
}
ul{
    position: relative;
    list-style: none;
    left: 1vw;
    display: flex;
    padding: 20px;
}
nav ul li{
    position: relative;
    color:white;
    left: 7vh;
    top: 3vh;
    margin: 17px;
    font-size: 1.7vw;
}
nav ul li a{
    text-decoration: none;
    font: 0.9em italic bold;
    color: rgb(28, 26, 26);
    padding: 6px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
nav ul li a:hover{
    background-color: rgb(28, 26, 26);
    color: white;
}
.h1{
    position: relative;
    top: 10px;
    gap: 19px;
    left: 8vw;
    display: flex;
    align-items: center;
}  
.h1 h4{
    color: rgb(28, 26, 26);
    font-size: 20px;
    font-weight: lighter;
} 
 .dropdown{
     display: none;
}
.dropdown .sr{
    position: relative;
    left: -2vw;
    top: -5px;
}
nav ul li:hover .dropdown{
    display: block;
    position: absolute;
    margin-left: -13px;
    margin-top: 6px;
    padding-top: 5px;
    justify-content: space-evenly;
    background-color: rgb(241, 241, 231);
    border-radius: 3px;
    width: 10vw;
}
nav ul li:hover .dropdown .sr{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #5b5454;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
nav ul li:hover .dropdown .sr:last-child{
    border-bottom: none;
}
.dropdown2 .sr img{
    width: 10vw;
    height: 6vh;
}
.dropdown2{
     display: none;
}
.dropdown2 .sr{
    position: relative;
    left: -3vw;
    top: -4px;
}
nav ul li:hover .dropdown2{
    display: block;
    position: absolute;
    margin-left: -13px;
    margin-top: 6px;
    padding-top: 1vh;
    padding-bottom: 0vh;
    justify-content: space-evenly;
    background-color: rgb(241, 241, 231);
    border-radius: 3px;
    width: 10vw;
}
nav ul li:hover .dropdown2 .sr{
    width: 150px;
    padding: 1vw;
    padding-bottom: 0vh;
    padding-top: .5vh;
    border-bottom: 1px dotted #5b5454;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
nav ul li:hover .dropdown2 .sr:last-child{
    border-bottom: none;
}
.land img{
   position: relative;
   top: -10vh;
   z-index: -10;

}
.place p{
    position: absolute;
    top: 18vh;
    width: 28vw;
    filter: none;
    padding: 4vw;
    left: 0vw;
    font-size: 2.5vw;
    opacity: 100%;
    z-index: 400;
    color: rgb(12, 12, 12);
    background: rgba(188, 121, 121, 0.97);
    padding: 20px;
    border-radius: 10px;
}
/* responsive design */

@media screen and (max-width:470px )  {
    body{
        overflow-y: hidden;
        overflow-x: hidden;
    }
    
    .main{
        height: 14vh;
    }
    .logo{
        top: -2vh;
    }
    .logo img{
        width: 20vw;
        height: 12vh;
    }
    .logo h2{
        font-size: 3vh;
        width: 60vw;
        top: 2vh;
        left: -10px;
    }
    .navbar{
        height: 5vh;
        display: block;
        margin-top: 3vh;
    }
    .navbar ul{
        left: -7vw;
        gap: 1vh;
    }
    .navbar ul li{
        font-size: 3vw;
        background: rgb(182, 214, 94);
        padding: 5px;
        border-radius: 4px;
        justify-content: space-evenly;
        width: 25vw;
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;
        left: 5vw;
        margin: 2px;
        text-align: center;
    }
    .navbar ul li a{
        font-size: 2.5vw;
        justify-content: space-evenly;
    }
    nav ul li:hover .dropdown{
    display: block;
    position: absolute;
    margin-left: 20px;
    margin-top: 6px;
    padding-top: 5px;
    justify-content: space-evenly;
    background-color: rgb(241, 241, 231);
    border-radius: 3px;
    width: 20vw;
    }
    nav ul li:hover .dropdown2{
    display: block;
    position: absolute;
    margin-left: 20px;
    margin-top: 6px;
    padding-top: 5px;
    justify-content: space-evenly;
    background-color: rgb(241, 241, 231);
    border-radius: 3px;
    width: 20vw;
    }
    nav ul li:hover .dropdown .sr{
    width: 50px;
    padding: 10px;
    border-bottom: 1px dotted #5b5454;
    background: transparent;
    border-radius: 0;
    text-align: left;
    }
    .dropdown2 .sr img{
    width: 20vw;
    height: 6vh;
    }
    nav ul li:hover .dropdown2 .sr{
    position: relative;
    width: 90px;
    padding: -1vw;
    padding-bottom: 0vh;
    padding-top: .5vh;
    border-bottom: 1px dotted #5b5454;
    background: transparent;
    border-radius: 0;
    text-align: left;
    left: -7vw;
    }
    
    
    

}
