*{
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
    
}
body{
    background-position: center;
    height: 100%;
    background-size: cover;
    overflow-y: hidden;
    /* background-repeat: no-repeat; */
}
.main{
    position:relative;
    top: 0vh;
    width: 100%;
    height: 17vh;
    display: flex;
    margin-bottom: 10vh;
    box-shadow: 3px 2px 8px rgb(0, 0, 0.6);
    background-color: rgba(164, 177, 177, 0.5);
}
.logo{
    position: relative;
    top: 1vh;
    margin-left: 1vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}

.logo h2{
    position: relative;
    text-align: center;
    top: 2vh;
    left: 30px;
    font-size: 2vw;
    font-style: italic;
    width: 35vw;
    margin: 23px ;
    color: rgb(28, 26, 26);
    margin-left: 10px;
    align-items: center;
}
.logo h2 span{
    font-size: .7em;
    font-weight: lighter;
}
.navbar{
    display: flex;
}
ul{
    position: relative;
    list-style: none;
    left: 1vw;
    display: flex;
    padding: 20px;
}
nav ul li{
    position: relative;
    color:white;
    left: 7vh;
    top: 3vh;
    margin: 17px;
    font-size: 1.7vw;
}
nav ul li a{
    text-decoration: none;
    font: 0.9em italic bold;
    color: rgb(28, 26, 26);
    padding: 6px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
nav ul li a:hover{
    background-color: rgb(28, 26, 26);
    color: white;
}
.h1{
    position: relative;
    top: 10px;
    gap: 19px;
    left: 8vw;
    display: flex;
    align-items: center;
}  
.h1 h4{
    color: rgb(28, 26, 26);
    font-size: 20px;
    font-weight: lighter;
} 
 .dropdown{
     display: none;
}
.dropdown .sr{
    position: relative;
    left: -2vw;
    top: -5px;
}
nav ul li:hover .dropdown{
    display: block;
    position: absolute;
    margin-left: -13px;
    margin-top: 6px;
    padding-top: 5px;
    justify-content: space-evenly;
    background-color: rgb(241, 241, 231);
    border-radius: 3px;
    width: 10vw;
}
nav ul li:hover .dropdown .sr{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #5b5454;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
nav ul li:hover .dropdown .sr:last-child{
    border-bottom: none;
}
.dropdown2{
     display: none;
}
.dropdown2 .sr{
    position: relative;
    left: -3vw;
    top: -4px;
}
nav ul li:hover .dropdown2{
    display: block;
    position: absolute;
    margin-left: -13px;
    margin-top: 6px;
    padding-top: 1vh;
    padding-bottom: 0vh;
    justify-content: space-evenly;
    background-color: rgb(241, 241, 231);
    border-radius: 3px;
    width: 10vw;
}
nav ul li:hover .dropdown2 .sr{
    width: 150px;
    padding: 1vw;
    padding-bottom: 0vh;
    padding-top: .5vh;
    border-bottom: 1px dotted #5b5454;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
nav ul li:hover .dropdown2 .sr:last-child{
    border-bottom: none;
}
.land img{
   position: relative;
   top: -10vh;
   z-index: -1;

}
