*{
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}
body{
    background-color: rgba(213, 217, 228, 0.821);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    scroll-behavior: none;
    overflow-x: hidden;
}
.main{
    position:relative;
    top: 8vh;
    width: 100%;
    height: 15vh;
    display: flex;
    margin-bottom: 10vh;
    box-shadow: 3px 2px 8px rgb(0, 0, 0.6);
    background-color: rgba(247, 248, 248, 0.5);
}
.logo{
    position: relative;
    top: 2vh;
    margin-left: 7vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    position: relative;
    left: 30px;
    top: 3vh;
    margin: 20px ;
    color: rgb(28, 26, 26);
    margin-left: 10px;
    align-items: center;
}
.navbar{
    display: flex;
}
ul{
    position: relative;
    list-style: none;
    left: 10vw;
    display: flex;
    padding: 20px;
}
nav ul li{
    position: relative;
    color:white;
    left: -80px;
    top: 3vh;
    margin: 17px;
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
    font: 0.9em italic bold;
    color: rgb(28, 26, 26);
    padding: 6px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
nav ul li a:hover{
    background-color: rgb(28, 26, 26);
    color: white;
}
.h1{
    position: relative;
    top: 10px;
    gap: 19px;
    left: 8vw;
    display: flex;
    align-items: center;
}  
.h1 h4{
    color: rgb(28, 26, 26);
    font-size: 20px;
    font-weight: lighter;
} 
.mtitle{
    position: relative;
    top: 4vh;
    margin-left: 7vw;
}
.mtitle h1{
    color: black;
    font-size: 2.3em;
    font-weight: bolder;
    margin-bottom: 2px;
}
.mtitle h1 img{
    position: relative;
    top: 2vh;
}
.shop{
    margin-top: 8vh;
    margin-left: 7vw;
    margin-bottom: 3vh;
}
section.categ{
    margin-top: 15vh;
    margin-left: 7vw;
    display: flex;
    gap:2vw ;

}
section.categ{
    margin-top: 0vh;
    display: flex;
    flex-wrap: wrap;
}
.catlist{
    background: white;
    height: 33vh;
}
.categ .catlist img{
    border-radius: 3%;
}
.categ .catlist h1{
    margin-top: 1vh;
    font-weight: lighter;
    font-size: 1.2em;
    text-align: center;
}
.boss{
    margin-left: 7vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.custom{
    margin-left: 9vw;
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
}
.cust{
    background: white;
    height: 47vh;
}
.cust h3, p{
    margin-left: 1vw;
}
.cust1{
    height: 35vh;
}
.cust1 h3{
    position: relative;
    top: -9vh;
    margin-left: 3vw;
    font-size: 1.5em;
    color: white;
}
.cust1 a{
    position: relative;
    top: -9vh;
    margin-left: 3vw;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}
footer{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(28, 26, 26);
    display: flex;
    justify-content: space-around;
    margin-top: 4vh;
    align-items: center;
    color: white;
}
footer p a{
    text-decoration: none;
    color: white;
}