*{
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}
body{
    background-color: rgba(213, 217, 228, 0.821);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    scroll-behavior: none;
    overflow-x: hidden;
}
.main{
    position:relative;
    top: 8vh;
    width: 100%;
    height: 15vh;
    display: flex;
    margin-bottom: 10vh;
    box-shadow: 3px 2px 8px rgb(0, 0, 0.6);
    background-color: rgba(247, 248, 248, 0.5);
}
.logo{
    position: relative;
    top: 2vh;
    margin-left: 7vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.logo h2{
    position: relative;
    left: 30px;
    top: 3vh;
    margin: 20px ;
    color: rgb(28, 26, 26);
    margin-left: 10px;
    align-items: center;
}
.navbar{
    display: flex;
}
ul{
    position: relative;
    list-style: none;
    left: 10vw;
    display: flex;
    padding: 20px;
}
nav ul li{
    position: relative;
    color:white;
    left: -80px;
    top: 3vh;
    margin: 17px;
    font-size: 20px;
}
nav ul li a{
    text-decoration: none;
    font: 0.9em italic bold;
    color: rgb(28, 26, 26);
    padding: 6px 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
nav ul li a:hover{
    background-color: rgb(28, 26, 26);
    color: white;
}
.h1{
    position: relative;
    top: -.5vh;
    gap: 19px;
    left: 8vw;
    display: flex;
    align-items: center;
}  
.h1 h4{
    color: rgb(28, 26, 26);
    font-size: 20px;
    font-weight: lighter;
} 
.intro{
    margin-left: 12vw;
    width: 70%;
    text-align: center;
    margin-bottom: 4vh;
}
.mlist{
    margin-left: 8vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;

}
.mlist1 h3{
    position: relative;
    top: -5vh;
    width: 15vw;
    color: black;
    margin-left: 1vw;
    font-size: 1.3em;
}
.mlist1 p{
    position: relative;
    top: -3vh;
    width: 18vw;
}
.tag{
    margin-top: 3vh;
    margin-left: 6vw;
    font-size: 3em;
}
section.categ{
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 7vw;
    display: flex;
    flex-wrap: wrap;
    gap:2vw ;

}
.categ .catlist img{
    border-radius: 3%;
}
.categ .catlist h1{
    margin-top: 1.3vh;
    font-weight: lighter;
    font-size: 1.2em;
}
footer{
    position: relative;
    width: 100%;
    height: 80px;
    background-color: rgb(28, 26, 26);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}
footer p a{
    text-decoration: none;
}